<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>
<div th:if="${param.error}">
    Неверное имя пользователя и пароль.
</div>
<div th:if="${param.logout}">
    Вы вышли из системы.
</div>
<h3>Авторизация</h3>
<form th:action="@{/login}" method="post">
    <div><label> Ник пользователя: <input type="text" name="username"/> </label></div>
    <div><label> Пароль пользователя: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Авторизоваться"/></div>
</form>
<a href="/registration">Зарегистрироваться</a>
</body>
</html>